<footer id="rodape">
	<div>	
		<div id="footer_links" class="container-fluid">
			<p>Ministério do Planejamento - CEGOV - UFRGS</p>
		</div>
		<div id="government_links" class="container-fluid">			
			<%= image_tag 'acesso-a-infornacao.png', :class => "pull-left" %>
			<%= image_tag 'brasil.png', :class => "pull-right" %>
		</div>			
	</div>	
</footer>
